<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">文章编辑</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">
                        <i class="material-icons">dashboard</i>
                        <p class="d-lg-none d-md-block">
                            Stats
                        </p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p class="d-lg-none d-md-block">
                            Some Actions
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Mike John responded to your email</a>
                        <a class="dropdown-item" href="#">You have 5 new tasks</a>
                        <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                        <a class="dropdown-item" href="#">Another Notification</a>
                        <a class="dropdown-item" href="#">Another One</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                        <p class="d-lg-none d-md-block">
                            Account
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div id="edit-vue" class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-lg-12 col-md-12 col-sm-12">

                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons">edit</i>
                    </div>
                </div>
                <div class="card-body">
                    <!--                        <h4 class="card-title">Here is the Icon</h4>-->
                    <label id="article-title" class="col-sm-1 col-md-1 col-lg-1 col-form-label">title</label>
                    <div class="col-sm-6">
                        <div class="form-group bmd-form-group">
                            <input type="text" class="form-control">
                            <span class="bmd-help">请输入文章标题</span>
                        </div>
                    </div>
                    <div id="crayon-editor">
                        <textarea style="display:none;" id="ts"></textarea>
                    </div>
                    <button class="btn btn-primary btn-fill"
                            onclick='swal({ title:"Good job!", text: "You clicked the button!", type: "success", buttonsStyling: false, confirmButtonClass: "btn btn-success"})'>
                        Try me!
                    </button>
                </div>
            </div>

            <button v-on:click="counter += 1">Add 1</button>
            <p>The button above has been clicked {{ counter }} times.</p>
        </div>
    </div>
</div>

<script>

    var editVue = new Vue({
        el: '#edit-vue',
        data: {
            counter: 0
        },
        methods: {
            initPasteDragImg(Editor) {
                var doc = document.getElementById(Editor.id)
                doc.addEventListener('paste', function (event) {
                    var items = (event.clipboardData || window.clipboardData).items;
                    var file = null;
                    console.log(items)
                    if (items && items.length) {
                        // 搜索剪切板items
                        for (var i = 0; i < items.length; i++) {
                            if (items[i].type.indexOf('image') !== -1) {
                                file = items[i].getAsFile();
                                break;
                            }
                        }
                    } else {
                        console.log("当前浏览器不支持");
                        return;
                    }
                    if (!file) {
                        console.log("粘贴内容非图片");
                        return;
                    }
                    uploadImg(file, Editor);
                });
                var dashboard = document.getElementById(Editor.id)
                dashboard.addEventListener("dragover", function (e) {
                    e.preventDefault()
                    e.stopPropagation()
                })
                dashboard.addEventListener("dragenter", function (e) {
                    e.preventDefault()
                    e.stopPropagation()
                })
                dashboard.addEventListener("drop", function (e) {
                    e.preventDefault()
                    e.stopPropagation()
                    var files = this.files || e.dataTransfer.files;
                    editVue.uploadImg(files[0], Editor);
                })
            },
            uploadImg(file,Editor) {
                    var formData = new FormData();
                    var fileName = new Date().getTime() + "." + file.name.split(".").pop();
                    console.log(Editor.settings.imageUploadURL)
                    formData.append('uploadFile', file, fileName);
                    $.ajax({
                        url: Editor.settings.imageUploadURL,
                        type: 'post',
                        data: formData,
                        processData: false,
                        contentType: false,
                        dataType: 'json',
                        success: function (msg) {
                            var success = msg['success'];
                            if (success == 1) {
                                var url = msg["data"];
                                if (/\.(png|jpg|jpeg|gif|bmp|ico)$/.test(url)) {
                                    Editor.insertValue("![图片alt](" + msg["data"] + " ''图片title'')");
                                } else {
                                    Editor.insertValue("[下载附件](" + msg["data"] + ")");
                                }
                            } else {
                                console.log(msg);
                                alert("上传失败");
                            }
                        }
                    });
            },
            initPage() {
                testEditor = editormd("crayon-editor", {
                    width: "100%",
                    height: "640px%",
                    syncScrolling: "single",
                    path: "/crayon-note/static/assets/js/lib/",
                    imageUpload: true,          // Enable/disable upload
                    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL: "/crayon-note/fileUpload/upload", //必须
                    onload: function () {
                        editVue.initPasteDragImg(this); //必须
                    }
                });
            },
        },
        mounted: function () {
            this.initPage();
        }
    })
/*
    function initPasteDragImg(Editor) {
        var doc = document.getElementById(Editor.id)
        doc.addEventListener('paste', function (event) {
            var items = (event.clipboardData || window.clipboardData).items;
            var file = null;
            console.log(items)
            if (items && items.length) {
                // 搜索剪切板items
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf('image') !== -1) {
                        file = items[i].getAsFile();
                        break;
                    }
                }
            } else {
                console.log("当前浏览器不支持");
                return;
            }
            if (!file) {
                console.log("粘贴内容非图片");
                return;
            }
            uploadImg(file, Editor);
        });
        var dashboard = document.getElementById(Editor.id)
        dashboard.addEventListener("dragover", function (e) {
            e.preventDefault()
            e.stopPropagation()
        })
        dashboard.addEventListener("dragenter", function (e) {
            e.preventDefault()
            e.stopPropagation()
        })
        dashboard.addEventListener("drop", function (e) {
            e.preventDefault()
            e.stopPropagation()
            var files = this.files || e.dataTransfer.files;
            uploadImg(files[0], Editor);
        })
    }

    function uploadImg(file, Editor) {
        var formData = new FormData();
        var fileName = new Date().getTime() + "." + file.name.split(".").pop();
        console.log(Editor.settings.imageUploadURL)
        formData.append('uploadFile', file, fileName);
        $.ajax({
            url: Editor.settings.imageUploadURL,
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: function (msg) {
                var success = msg['success'];
                if (success == 1) {
                    var url = msg["data"];
                    if (/\.(png|jpg|jpeg|gif|bmp|ico)$/.test(url)) {
                        Editor.insertValue("![图片alt](" + msg["data"] + " ''图片title'')");
                    } else {
                        Editor.insertValue("[下载附件](" + msg["data"] + ")");
                    }
                } else {
                    console.log(msg);
                    alert("上传失败");
                }
            }
        });
    }

    var testEditor;
    $(function () {
        testEditor = editormd("crayon-editor", {
            width: "100%",
            height: "640px%",
            syncScrolling: "single",
            path: "/crayon-note/static/assets/js/lib/",
            imageUpload: true,          // Enable/disable upload
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/crayon-note/fileUpload/upload", //必须
            onload: function () {
                initPasteDragImg(this); //必须
            }
        });
    });
*/
</script>
